@{
    ViewBag.Title = "Errata";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>ProfessDirect gives you a powerful, systematic approach to enable leaders to more expediently assess and target professional relationships that are conducive/detrimental in light of current market trends. </p>
<p>ProfessDirect is relationship management tool that makes it easy to add, remove, and update professional connections.</p>
<p>You can easily reach out to contacts; offer your hand in jolly cooperation via built in links to major social media platforms.</p>
