@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ProfessDirect</h1>
    <p class="lead">Take the Next Step | Connect.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div>
    <p>
        <a class="btn btn-primary btn-lg">Learn more
            @Html.ActionLink("List of contacts", "Index", "Contacts")<br />
        </a>
    </p>
    @Html.ActionLink("List of files", "Index", "Files")
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Diving into ProfessDirect</h2>
        <p>
            ProfessDirect gives you a powerful, systematic approach to enable leaders to more expediently assess and target professional relationships that are conducive/detrimental in light of current market trends.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Enhance your connections</h2>
        <p>ProfessDirect is relationship management tool that makes it easy to add, remove, and update professional connections.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Don't Go Alone</h2>
        <p>You can easily reach out to contacts; offer your hand in jolly cooperation via built in links to major social media platforms.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>