@{
    ViewBag.Title = "Obligations";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>ProfessDirect is dedicated to providing the tools, resources and expertise that will empower your financial success. </p>
<p>We offer the convenience of AutomatedConnection, Doc Allocation, Intel Transfers, Money orders and more!</p>