<!doctype html>

<html>
<head>
    <title>Display Entry!</title>
    <!---->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/
        bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGs03
              +Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"/>
        <link rel="stylesheet" href="DisplayEntry.css" />
    <!---->
</head>

<body>
    <div id="bodyContent" class="container">
        <main id="mainContent" class="extraHorizontalPadding">
            <header style="text-align:center">
                <h1>Exxon Mobile</h1>
            </header>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Earnings FY2019</td>
                    </tr>
                    <tr>
                        <td>Bankruptcy Notice</td>
                    </tr>
                </tbody>
        </main>
    </div>
</body>
</html>