<!doctype html>

<html>
<head>
    <title>Key Terms!</title>
    <!---->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/
        bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGs03
              +Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"/>
        <link rel="stylesheet" href="KeyTerms.css" />
    <!---->
</head>

<body>
    <div id="bodyContent"class="container">
        <main id="mainContent" class="extraHorizontalPadding">
            <p style="text-align:right">
                Search     List
            </p>
            <header style="text-align:center">
                <h1>Key Terms</h1>
            </header>   
            <table class="table">
                <tbody>
                    <tr>
                        <td>Industry Leader</td>
                        <td>Empowerment</td>
                        <td>Customer Service</td>
                        <td>Ethics</td>
                    </tr>
                    <tr>
                        <td>Acquisition</td>
                        <td>Performance</td>
                        <td>Quality</td>
                        <td>Petroleum</td>
                    </tr>
                    <tr>
                        <td>Limited Liability</td>
                        <td>Profit</td>
                        <td>Communication</td>
                        <td>Adaptibility</td>
                    </tr>
                    <tr>
                        <td>Clear Vision</td>
                        <td>Team Approach</td>
                        <td>Top Management</td>
                        <td>Innovation</td>
                    </tr>
                </tbody>
        </main>
    </div>
</body>
</html>