@{
    ViewBag.Title = "Come Visit";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    26 Petascope Avenue<br />
    Milky, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    216.626.0100
</address>